.atlwdg-popup
{
  position: relative;
  left: 0 !important;
  top: 0 !important;
  height: 100%  !important;
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}
.dialog-button-panel {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 31px !important;
}
h2.dialog-title {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 26px !important;
}